.projects {
    font-family: 'Quando', cursive;
    font-size: 1.2rem;
    border-radius: 25px;
    background-color: #FFF;
    filter: opacity(0.8);
}

.anchor {
    margin-top: -75px;
    position: absolute;
}