.nav {
    backdrop-filter: blur(5px);
}

@media (min-width: 768px) {

    .imgLogo {
        margin-left: 24px;
        margin-right: 24px;
    }

    .links {

        margin-left: 24px;
        margin-right: 24px;
    }
}

@media (max-width: 576px) {

    .imgLogo {
        margin-left: 8px;
        margin-right: 8px;
    }

    .links {
        margin-left: 8px;
        margin-right: 8px;
    }
}