.intro {
    color: white;
    height: 100vh;
    background-color: aqua;
    z-index: 0;
}

.title {
    font-family: 'Dynalight', cursive;
    font-size: 80px;
}

.subtitle {
    font-family: 'Asul', sans-serif;
}

