.intro {
    color: #002500;
    height: 100vh;
    z-index: 0;
}

.title {
    font-family: 'Dynalight', cursive;
    font-size: 80px;
}

.subtitle {
    font-family: 'Asul', sans-serif;
}


@media (min-width: 320px) {

    .title {
        font-size: 60px !important;
    }
}

@media (min-width: 375px) {
    
    .title {
        font-size: 75px !important;
    }

    .subtitle {
        font-size: 25px !important;
    }
}